//Variables
$primary-color: #3dd4af;
$primary-color-hover: #2bb392;
$placeholder-color: #2b2d34;
$almost-white: #f7f7f8;
$light-gray: #dfe1e5;
$medium-gray: #696b6e;
$dark-gray: #46484a;
$base-font-size: 16px;
$main-font: 'PingFang SC', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
$headline-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin custom-button {
	font-size: .75rem;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: .3rem;
}

@mixin border-radius {
	border-radius: .3rem;
}

//Global Styles
html {
	font-family: $main-font;
	font-size: $base-font-size;
}

body {
	font-family: $main-font;
	font-size: $base-font-size;
	background-color: #ffffff;
	overflow-x: hidden;
}

a {
	color: $primary-color;
}

h1 {
	font-family: $headline-font;
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-family: $headline-font;
	font-size: 2.8rem;
	font-weight: 700;
}

h3 {
	font-family: $headline-font;
	font-size: 2rem;
	font-weight: 700;
}

h4 {
	font-family: $headline-font;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	color: $medium-gray;
	font-size: .9rem;
}

.divider {
	display: block;
	width: 6rem;
	height: 0.3rem;
	background-color: $light-gray;
	margin: 2rem auto;
}

.form-control-custom {
	border: 1px solid $light-gray;
	width: 100%;
	padding: 1rem;
	font-size: .9rem;
	color: $medium-gray;
	@include border-radius;
}

.form-control-custom:focus {
	border: 1px solid $primary-color;
	outline: none;
}

.emphasis {
	font-family: Georgia, Times, 'Times New Roman';
	font-style: italic;
	color: #5286DF;
}

.constrain-width {
	max-width: 45rem;
	margin: 0 auto;
}

.rounded-corners {
	@include border-radius;
}

.pill-btn {
	border-radius: 499rem!important;
}

.justify-center {
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.alt-background {
	background: $almost-white;
}

//Custom Button Styles

.btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary, .btn-white, .btn-outline-white, .btn-success, .btn-outline-success, .btn-info, .btn-outline-info, .btn-warning, .btn-outline-warning, .btn-danger, .btn-outline-danger {
	@include custom-button;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-white, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
	border-width: 0.15rem;
}

.btn-lg {
	padding: 1.1rem 2.5rem;
	font-size: .9rem;
}

//Primary Button

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: $primary-color-hover;
	border-color: $primary-color-hover;
}

.btn-outline-primary, .btn-outline-primary:visited {
	color: $primary-color;
	border-color: $primary-color;
	background: none;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
	background-color: $primary-color;
	border-color: $primary-color;
	color: #fff;
}

//Secondary Button

.btn-secondary {
 	border-color: $medium-gray;
 	background-color: $medium-gray;
 	color: #fff;
 }
 
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
		border-color: $dark-gray;
		background-color: $dark-gray;
		color: #fff;
	}

.btn-outline-secondary, .btn-outline-secondary:visited {
	color: $medium-gray;
	border-color: $medium-gray;
	background: none;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
	border-color: $medium-gray;
	background: $medium-gray;
	color: #fff;
}

//White Button

.btn-white {
 	border-color: #fff;
 	background-color: #fff;
 	color: $dark-gray;
 }
 
.btn-white:hover, .btn-white:focus, .btn-white:active {
		border-color: $light-gray;
		background-color: $light-gray;
		color: $dark-gray;
	}

.btn-outline-white, .btn-outline-white:visited {
	background: none;
	color: #fff;
	border-color: #fff;
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
	color: $dark-gray;
	background: #fff;
}

.link-white, link-white:visited {
	@include custom-button;
 	border: 0;
 	color: #fff;
 }
 .link-white:hover, .link-white:focus, .link-white:active {
 	color: $light-gray!important;
 }

//Headers

.navbar-custom {
	background: rgba(0, 0, 0, 0.8);
}

a.navbar-brand {
	font-family: $headline-font;
	color: #fff!important;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0;
}

li.nav-item {
	.btn {
		margin-top: .2rem;
		margin-left: .4rem;
	}
	.btn-white {
		color: $dark-gray;
	}
}

.cover-1 {
	height: auto;
	border-radius: 0;
	width: 100%;
	.swiper-container {
		color: #000;
		width: 100%;
		height: 45rem;
		.swiper-slide1 {
			background: $placeholder-color url(../../images/banner1.png) center;
			background-size: cover;
		}
		.swiper-slide2 {
			background: $placeholder-color url(../../images/banner2.png) center;
			background-size: cover;
		}
		.swiper-pagination-bullet {
			background: rgba(0, 0, 0, 0.5);
		}
		.swiper-pagination-bullet-active {
			background: #fff;
		}
	}
}

// 合作伙伴介绍
.cooperate-company {
	color: #000000;
	font-family: PingFangSC-Thin;
	width: 100%;
	height: 66rem;
	h2 {
		font-size: 56px;
		padding: 7.5rem 0 1.25rem;
		margin: 0;
	}
	p {
		color: #000000;
		font-size: 20px;
		margin: 0 auto;
		max-width: 50rem;
	}
	.statistical－curve {
		border: 1px solid #000000;
		width: 50rem;
		height: 29rem;
		margin: 5.3rem auto 4.75rem;
	}
}

// 资产端团队介绍
.team-intro {
	background: $placeholder-color url(../../images/team.png) center;
	background-size: cover;
	color: #FFFFFF;
	font-family: PingFangSC-Thin;
	width: 100%;
	.container {
		padding: 10rem 0;
		h2 {
			margin-bottom: 1.25rem;
		}
		p {
			color: inherit;
			font-size: 20px;
			line-height: 40px;
			max-width: 940px;
			margin: 0 auto;
		}
	}
}

// 数字货币
.digital-currency {
	padding: 2.8rem 0 0 0;
	.container-fluid {
	  padding-right: 0;
	  padding-left: 0;
	}
	h2 {
		margin-bottom: 1.25rem;
	}
	p {
		color: #000000;
		font-family: PingFangSC-Thin;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 40px;
	}
	img {
		width: 100%;
	}
	.item {
		background: $placeholder-color center;
		background-size: cover;
		min-height: 20rem;
	}
}

// 美国持牌券商
.cooperate－features {
	padding: 5rem 0;
	.col-feature {
		padding-top: 2rem;
		padding-bottom: 2rem;
		.rounded-circle {
			margin: 0 auto;
			margin-bottom: 2rem;
			width: 6rem;
			height: 6rem;
			background: none;
			border: .15rem solid $light-gray;
		}
	}
	i {
		font-size: 2.5rem;
	}
	h4 {
		color: #202020;
		font-family: PingFangSC-Semibold;
		font-size: 1.625rem;
		margin-bottom: 0.625rem;
	}
	p {
		color: #202020;
		font-family: PingFangSC-Light;
		font-size: 0.875rem;
		max-width: 16rem;
		margin: 0 auto;
	}
}

// 关于我们
.about-us {
	padding: 5rem 0 5rem 0;
	.lead {
		margin-bottom: -1rem;
	}
	.divider {
		margin-bottom: 4.375rem;
	}
	.box {
		background: #fff;
		box-shadow: 0px .2rem 2rem rgba(0,0,0,.05);
		padding: 2rem;
		margin-bottom: 2rem;
	}
	.col-team {
		img {
			margin-top: .5rem;
			margin-bottom: 2rem;
			width: 50%;
		}
	}
	.map {
		height: 400px;
		margin-top: 6rem;
		&>div {
			border: 1px solid #999;
			padding: 0;
		}
	}
}

// 联系我们
.contact-us {
	background: #F8F8F9;
	color: #696969;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	letter-spacing: 0.86px;
	line-height: 20px;
	width: 100%;
	.container {
		height: 100%;
	}
	.row {
		height: 100%;
		&>div {
			padding: 2rem;
			position: relative;
			min-height: 25.625rem;
		}
	}
	.nav-text {
		padding: 0;
		margin-bottom: 1.25rem;
		a {
			color: rgba(0, 0, 0, 0.5);
			font-family: PingFangSC-Medium;
			font-size: 20px;
			padding: 0.5rem 0.5rem 0.5rem 0;
		}
		.two-word {
			padding-right: 2rem;
		}
		.active a {
			color: #000;
		}
	}
	p {
		text-align: justify;
	}
	h5 {
		color: #333333;
		font-family: PingFangSC-Semibold;
		font-size: 1.25rem;
		margin: 2.75rem 0 1.85rem;
	}
	.nav-icon {
		padding: 0;
		a {
			color: #777B80;
			display: block;
			font-family: PingFangSC-Regular;
			font-size: 0.75rem;
			padding: 0;
			.icon {
				display: table;
				text-align: center;
				width: 3.75rem;
				height: 3.75rem;
				i {
					display: table-cell;
					font-size: 2rem;
					vertical-align: middle;
				}
			}
		}
	}
	.way {
		h5 {
			color: #000000;
			font-family: PingFangSC-Medium;
			font-size: 1.25rem;
			margin-top: 0;
		}
		h6 {
			color: #000000;
			font-family: PingFangSC-Medium;
			font-size: 1rem;
		}
		p {
			color: #696969;
			font-family: PingFangSC-Regular;
			font-size: 14px;
			max-width: 18.75rem;
		}
		.weixin {
			position: absolute;
			left: 2rem;
			bottom: 2rem;
			margin-top: 1.5rem;
			cursor: pointer;
			.icon {
				display: table;
				text-align: center;
				width: 3.75rem;
				height: 3.75rem;
				i {
					display: table-cell;
					font-size: 2rem;
					vertical-align: middle;
				}
			}
			.QR-code {
				position: absolute;
				left: 110%;
				bottom: 0;
				width: 100px;
				height: 100px;
				background: #fff;
				&::after {
					position: absolute;
					left: -10px;
					top: 45px;
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-right: 10px solid #fff;
					border-bottom: 5px solid transparent;
				}
			}
		}
	}
}

// @media screen and (max-width: 768px) {

// }