@charset "UTF-8";
html {
  font-family: "PingFang SC", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  font-size: 16px; }

body {
  font-family: "PingFang SC", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  overflow-x: hidden; }

a {
  color: #3dd4af; }

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-weight: 700; }

h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: 700; }

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700; }

h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  color: #696b6e;
  font-size: .9rem; }

.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto; }

.form-control-custom {
  border: 1px solid #dfe1e5;
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  color: #696b6e;
  border-radius: .3rem; }

.form-control-custom:focus {
  border: 1px solid #3dd4af;
  outline: none; }

.emphasis {
  font-family: Georgia, Times, 'Times New Roman';
  font-style: italic;
  color: #5286DF; }

.constrain-width {
  max-width: 45rem;
  margin: 0 auto; }

.rounded-corners {
  border-radius: .3rem; }

.pill-btn {
  border-radius: 499rem !important; }

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.alt-background {
  background: #f7f7f8; }

.btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary, .btn-white, .btn-outline-white, .btn-success, .btn-outline-success, .btn-info, .btn-outline-info, .btn-warning, .btn-outline-warning, .btn-danger, .btn-outline-danger {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem; }

.btn-outline-primary, .btn-outline-secondary, .btn-outline-white, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
  border-width: 0.15rem; }

.btn-lg {
  padding: 1.1rem 2.5rem;
  font-size: .9rem; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #3dd4af;
  border-color: #3dd4af; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #2bb392;
  border-color: #2bb392; }

.btn-outline-primary, .btn-outline-primary:visited {
  color: #3dd4af;
  border-color: #3dd4af;
  background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #3dd4af;
  border-color: #3dd4af;
  color: #fff; }

.btn-secondary {
  border-color: #696b6e;
  background-color: #696b6e;
  color: #fff; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #46484a;
  background-color: #46484a;
  color: #fff; }

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #696b6e;
  border-color: #696b6e;
  background: none; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #696b6e;
  background: #696b6e;
  color: #fff; }

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: #46484a; }

.btn-white:hover, .btn-white:focus, .btn-white:active {
  border-color: #dfe1e5;
  background-color: #dfe1e5;
  color: #46484a; }

.btn-outline-white, .btn-outline-white:visited {
  background: none;
  color: #fff;
  border-color: #fff; }

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  color: #46484a;
  background: #fff; }

.link-white, link-white:visited {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border: 0;
  color: #fff; }

.link-white:hover, .link-white:focus, .link-white:active {
  color: #dfe1e5 !important; }

.navbar-custom {
  background: rgba(0, 0, 0, 0.8); }

a.navbar-brand {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }

li.nav-item .btn-white {
  color: #46484a; }

.cover-1 {
  height: auto;
  border-radius: 0;
  width: 100%; }
  .cover-1 .swiper-container {
    color: #000;
    width: 100%;
    height: 45rem; }
    .cover-1 .swiper-container .swiper-slide1 {
      background: #2b2d34 url(../../images/banner1.png) center;
      background-size: cover; }
    .cover-1 .swiper-container .swiper-slide2 {
      background: #2b2d34 url(../../images/banner2.png) center;
      background-size: cover; }
    .cover-1 .swiper-container .swiper-pagination-bullet {
      background: rgba(0, 0, 0, 0.5); }
    .cover-1 .swiper-container .swiper-pagination-bullet-active {
      background: #fff; }

.cooperate-company {
  color: #000000;
  font-family: PingFangSC-Thin;
  width: 100%;
  height: 66rem; }
  .cooperate-company h2 {
    font-size: 56px;
    padding: 7.5rem 0 1.25rem;
    margin: 0; }
  .cooperate-company p {
    color: #000000;
    font-size: 20px;
    margin: 0 auto;
    max-width: 50rem; }
  .cooperate-company .statistical－curve {
    border: 1px solid #000000;
    width: 50rem;
    height: 29rem;
    margin: 5.3rem auto 4.75rem; }

.team-intro {
  background: #2b2d34 url(../../images/team.png) center;
  background-size: cover;
  color: #FFFFFF;
  font-family: PingFangSC-Thin;
  width: 100%; }
  .team-intro .container {
    padding: 10rem 0; }
    .team-intro .container h2 {
      margin-bottom: 1.25rem; }
    .team-intro .container p {
      color: inherit;
      font-size: 20px;
      line-height: 40px;
      max-width: 940px;
      margin: 0 auto; }

.digital-currency {
  padding: 2.8rem 0 0 0; }
  .digital-currency .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .digital-currency h2 {
    margin-bottom: 1.25rem; }
  .digital-currency p {
    color: #000000;
    font-family: PingFangSC-Thin;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px; }
  .digital-currency img {
    width: 100%; }
  .digital-currency .item {
    background: #2b2d34 center;
    background-size: cover;
    min-height: 20rem; }

.cooperate－features {
  padding: 5rem 0; }
  .cooperate－features .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .cooperate－features .col-feature .rounded-circle {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 6rem;
      height: 6rem;
      background: none;
      border: 0.15rem solid #dfe1e5; }
  .cooperate－features i {
    font-size: 2.5rem; }
  .cooperate－features h4 {
    color: #202020;
    font-family: PingFangSC-Semibold;
    font-size: 1.625rem;
    margin-bottom: 0.625rem; }
  .cooperate－features p {
    color: #202020;
    font-family: PingFangSC-Light;
    font-size: 0.875rem;
    max-width: 16rem;
    margin: 0 auto; }

.about-us {
  padding: 5rem 0 5rem 0; }
  .about-us .lead {
    margin-bottom: -1rem; }
  .about-us .divider {
    margin-bottom: 4.375rem; }
  .about-us .box {
    background: #fff;
    box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin-bottom: 2rem; }
  .about-us .col-team img {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 50%; }
  .about-us .map {
    height: 400px;
    margin-top: 6rem; }
    .about-us .map > div {
      border: 1px solid #999;
      padding: 0; }

.contact-us {
  background: #F8F8F9;
  color: #696969;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 20px;
  width: 100%; }
  .contact-us .container {
    height: 100%; }
  .contact-us .row {
    height: 100%; }
    .contact-us .row > div {
      padding: 2rem;
      position: relative;
      min-height: 25.625rem; }
  .contact-us .nav-text {
    padding: 0;
    margin-bottom: 1.25rem; }
    .contact-us .nav-text a {
      color: rgba(0, 0, 0, 0.5);
      font-family: PingFangSC-Medium;
      font-size: 20px;
      padding: 0.5rem 0.5rem 0.5rem 0; }
    .contact-us .nav-text .two-word {
      padding-right: 2rem; }
    .contact-us .nav-text .active a {
      color: #000; }
  .contact-us p {
    text-align: justify; }
  .contact-us h5 {
    color: #333333;
    font-family: PingFangSC-Semibold;
    font-size: 1.25rem;
    margin: 2.75rem 0 1.85rem; }
  .contact-us .nav-icon {
    padding: 0; }
    .contact-us .nav-icon a {
      color: #777B80;
      display: block;
      font-family: PingFangSC-Regular;
      font-size: 0.75rem;
      padding: 0; }
      .contact-us .nav-icon a .icon {
        display: table;
        text-align: center;
        width: 3.75rem;
        height: 3.75rem; }
        .contact-us .nav-icon a .icon i {
          display: table-cell;
          font-size: 2rem;
          vertical-align: middle; }
  .contact-us .way h5 {
    color: #000000;
    font-family: PingFangSC-Medium;
    font-size: 1.25rem;
    margin-top: 0; }
  .contact-us .way h6 {
    color: #000000;
    font-family: PingFangSC-Medium;
    font-size: 1rem; }
  .contact-us .way p {
    color: #696969;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    max-width: 18.75rem; }
  .contact-us .way .weixin {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    margin-top: 1.5rem;
    cursor: pointer; }
    .contact-us .way .weixin .icon {
      display: table;
      text-align: center;
      width: 3.75rem;
      height: 3.75rem; }
      .contact-us .way .weixin .icon i {
        display: table-cell;
        font-size: 2rem;
        vertical-align: middle; }
    .contact-us .way .weixin .QR-code {
      position: absolute;
      left: 110%;
      bottom: 0;
      width: 100px;
      height: 100px;
      background: #fff; }
      .contact-us .way .weixin .QR-code::after {
        position: absolute;
        left: -10px;
        top: 45px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 5px solid transparent; }
